{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ user.name }}</strong>
    <p>Agendamentos para hoje:</p>

    <lu class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <img src="/files/{{ appointment.user.avatar }}" />
            <strong>{{ appointment.user.name }} <br> {{ appointment.date | date("HH:mm")}}</strong>
          </div>
        </li>
      {% endfor %}
    </lu>
    <a href="/app/dashboard" class="schedule">Agendar</a>
    <br>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
